*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    
    flex-direction: column;
    min-width:340px;
    max-width: 500px;
    gap: 15px;
    margin: 0 auto;

}
h2{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
input{
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: 1px solid #aaa;
    margin: 0 auto;
    
}

input:focus{
    outline: 2px solid #FF2B2B;
}

textarea{
    width: 250px;
    margin: 0 auto;
    padding: 5px;
    border: none;
    outline: 1px solid #aaa;
    border-radius: 10px;
}

textarea:focus{
    outline: 2px solid #FF2B2B;
}

button{
    width: 80px;
    height: 40px;
    margin: 0 auto;
    background-color: #FF2B2B;
    border: none;
    border-radius: 10px ;
    color: #fff;
    cursor: pointer;
}

input::placeholder{
    color: #aaa;
}

textarea::placeholder{
    color: #aaa;
}